<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:cacahe="http://www.springframework.org/schema/cache"
       xmlns:aop="http://www.springframework.org/schema/aop">

	<context:component-scan base-package="me.whiteship" />

	<!-- JDBC & Transaction -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<jdbc:embedded-database id="dataSource" type="HSQL" />

    <!-- AOP -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
    <aop:aspectj-autoproxy />

    <!-- cache setup
    <bean id="annotationCacheOperationSource" class="org.springframework.cache.annotation.AnnotationCacheOperationSource" />
    <bean id="cacheInterceptor" class="me.whiteship.cache.ChainableCacheInterceptor">
        <property name="cacheOperationSource" ref="annotationCacheOperationSource" />
        <property name="cacheManager" ref="cacheManager"/>
        <property name="keyGenerator" ref="keyGenerator"/>
    </bean>
    <bean id="cacheAdvisor" class="org.springframework.cache.interceptor.BeanFactoryCacheOperationSourceAdvisor">
        <property name="cacheOperationSource" ref="annotationCacheOperationSource" />
        <property name="advice" ref="cacheInterceptor" />
    </bean>
    -->

    <!--
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager" p:cacheManager-ref="ehcache" />
    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" p:configLocation="ehcache.xml"/>
    -->

    <cacahe:annotation-driven key-generator="arcusKeyGenerator" cache-manager="arcusCacheManager"/>
    <bean id="arcusCacheManager" class="org.springframework.cache.support.SimpleCacheManager">
        <property name="caches">
            <list>
                <bean p:name="member" p:prefix="member:" p:timeoutMilliSeconds="500" parent="defaultArcusCache" />
                <bean p:name="memberList" p:prefix="memberList:" p:expireSeconds="3000"	parent="defaultArcusCache" />
            </list>
        </property>
    </bean>
    <bean id="arcusKeyGenerator" class="com.nhncorp.arcus.spring.cache.StringKeyGenerator"/>
    <bean id="defaultArcusCache" class="com.nhncorp.arcus.spring.cache.ArcusCache"
        p:arcusClient-ref="arcusClient" p:timeoutMilliSeconds="500"
        p:expireSeconds="3000" abstract="true" />
    <bean id="arcusClient" class="com.nhncorp.arcus.spring.ArcusClientFactoryBean"
        p:url="dev.arcuscloud.nhncorp.com:17288" p:serviceCode="dev" />

	<!-- JPA -->
	<jpa:repositories base-package="me.whiteship" />
	<jpa:repositories base-package="usecase" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.generate_statistics">true</prop>
                <prop key="hibernate.bytecode.provider">cglib</prop>
                <prop key="hibernate.use_sql_comments">true</prop>
			</props>
		</property>
	</bean>

    <!-- ============================================================= -->
	<!--  JacksonJSON                                                  -->
	<!-- ============================================================= -->
	<bean class="org.codehaus.jackson.map.ObjectMapper"/>

	<bean class="me.whiteship.common.jpa.comment.service.DefaultQeuryCommentService"/>

</beans>
